* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #ED1C25;
    --hover: #DC0B14;
}

.container {
    width: 100%;
    position: relative;
}

.d-mobile {
    display: none;
}

.btn, a {
    cursor: pointer;
    transition: .2s all;
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.btn {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: var(--hover);
}

.hero {
    background: #F0F0F0;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    overflow: hidden;
}

.w {
    width: 80%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex--start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--column {
    flex-direction: column;
}

.img {
    width: 100%;
}

.btn--hero .icon {
    width: 15px;
    margin-left: 8px;
}

.topBar {
    padding: 12px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #C5C5C5;
}

.topBar * {
    color: #6A6A6A;
    font-size: 14px;
}

.topBar__right__socialMedia {
    width: 16px;
    margin-left: 10px;
}

.topBar__right__socialMedia:hover {
    opacity: .8;
}

.topNav__logo {
    width: 125px;
    transform-origin: center;
}

.topNav__logo:hover {
    transform: scale(1.03);
}

.topNav__menu {
    margin-left: 100px;
    width: 500px;
}

.topNav__menu__item {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav__menu__item:hover {
    color: var(--hover);
}

.topNav__menu__item .icon {
    width: 15px;
    margin-left: 8px;
    filter: invert(1);
}

.topNav__right {
    justify-content: flex-end;
}

.topNav__right__item:first-of-type {
    margin-right: 25px;
}

.topNav__right__item .icon {
    width: 23px;
    transition: .1s all ease-in-out;
}

.topNav__right__item:hover .icon {
    transform: translateY(-5px);
}

.topNav__right__item span {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}

.hero__content {
    margin-top: 100px;
    position: relative;
    overflow: visible;
}

.hero__content__header {
    font-size: 38px;
    max-width: 900px;
}

.hero__content__text {
    margin: 15px 0 25px;
    font-weight: 400;
    font-size: 18px;
    max-width: 750px;
}

.btn--hero {
    font-size: 16px;
    width: 305px;
    height: 50px;
}

.hero__image {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(80%, -20%);
}

.hero__points {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__points__inner {
    max-width: 800px;
}

.hero__points__item {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__points__item:nth-child(2) {
    max-width: 180px;
}

.hero__points__item .img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.hero__points__item span {
    color: #6A6A6A;
    font-weight: 600;
    font-size: 15px;
}

.productsSliderWrapper {
    width: calc(100% + 20px);
    transform: translateX(-10px);
    margin: auto;
}

.productsSlider {
    margin-top: 50px;
    padding-top: 6px;
}

.productsSlider__item {
    display: block;
    padding: 0 10px;
    transition: .1s all ease-in-out;
}

.productsSlider__item:hover {
    transform: translateY(-5px);
}

.productsSlider__item__top {
    background: #E3DFD8;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 13px;
    color: #402D1A;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    width: -moz-max-content;
}

.productsSlider__item__image {
    margin: 15px 0;
    background: #E3DFD8;
    border-radius: 5px;
}

.productsSlider__item__image .img {
    max-width: 85%;
}

.productsSlider__item__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.productsSlider__item__price {
    color: #ED1C25;
    font-size: 20px;
    font-weight: 700;
}

.section {
    margin: 60px auto;
}

.section__header {
    font-weight: 500;
    font-size: 36px;
}

.section__text {
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0;
    max-width: 500px;
}

.productsSliderLine {
    margin-top: 40px;
}

.arrow {
    width: 18px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow--prev {
    transform: rotateY(180deg);
}

.productsSliderLine__line {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background: #AAAAAA;
    position: relative;
}

.productsSliderLine__line__indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 1px;
    background: #281F16;
}

.img--logoRight {
    width: 200px;
}

.section__header--history {
    max-width: 400px;
}

.btn--history {
    margin: 150px auto 40px;
    padding: 15px 15px;
    background: #402D1A;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 400px;
    z-index: 999;
    position: relative;
}

.btn--history:hover {
    background: #301C09;
}

.historyLine {
    height: 2px;
    background: #402D1A;
    width: 100%;
    position: relative;
    margin: 70px 0 100px;
}

.historyLine > .w {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}

.historyLine .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

.historyLine .arrow--prev {
    transform: translateY(-50%) rotateY(180deg);
    left: 0;
}

.historyLine .arrow--next {
    right: 0;
}

.historySlider__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    position: relative;
    overflow: visible;
    margin: 80px 30px 0 30px;
    padding: 20px;
}

.historySlider__item__year {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.historySlider__item__point {
    background: #281F16;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
}

.historySlider__item__point__inner {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

.historySlider__item__text {
    font-size: 13px;
    text-align: center;
    margin-top: 8px;
}

.historySlider {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 435px;
}

.historyLine .arrow {
    z-index: 999999;
}

.historySlider__item {
    padding-top: 100px;
}

.historySlider__item__point__img {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    width: 200px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.historySlider__item__point:hover .historySlider__item__point__img,
.historySlider__item__point__img:hover {
    visibility: visible;
}

.section--grey {
    background: #F0F0F0;
    padding: 50px 0;
}

.section__header--grey {
    font-size: 36px;
    color: #402D1A;
    width: 371px;
    font-weight: 700;
}

.img--sectionGrey {
    width: 260px;
}

.section__box {
    max-width: 500px;
    margin-left: 70px;
}

.section__box__header {
    font-size: 28px;
}

.section__box__text {
    font-size: 15px;
    margin: 15px 0 20px;
}

.btn--sectionGrey {
    margin: 0;
    width: 400px;
    font-size: 14px;
    padding: 0;
    font-weight: 400;
    height: 50px;
    text-transform: none;
}

.flex--blog {
    align-items: flex-start;
    margin: 40px 0 25px;
    gap: 30px;
}

.blog__item:hover {
    transform: translateY(-5px);
}

.blog__item figure {
    width: 100%;
    max-height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.blog__item__header {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.blog__item__btn {
    color: #402D1A;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blog__item__btn > .icon {
    width: 12px;
    margin-left: 8px;
}

.footer__bottom {
    background: #E3DFD8;
    height: 38px;
}

.footer__bottom span,
.footer__bottom a {
    font-size: 12px;
    color: #000;
    font-weight: 400;
}

.h-100 {
    height: 100%;
}

.footer__inner {
    background: #F0F0F0;
    padding: 30px 0 10px;
}

.footer__inner > .flex {
    align-items: flex-start;
}

.footer__logo:first-of-type {
    width: 100px;
    margin-right: 25px;
}

.footer__logo:last-of-type {
    width: 160px;
}

.footer__text {
    margin: 15px 0 20px;
    font-size: 14px;
}

.footer__socialMedia {
    margin-left: 10px;
    width: 20px;
    display: block;
}

.footer__col {
    width: 16%;
}

.footer__col:first-of-type {
    width: 25%;
}

.footer__header {
    font-weight: 600;
    font-size: 16px;
    color: #6A6A6A;
    margin-bottom: 15px;
}

.footer__item {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

a.footer__item:hover {
    opacity: .8;
}

.footer__text span {
    display: block;
}

.footer__text > .footer__item:not(:first-of-type) {
    margin-top: 25px;
}
